<!DOCTYPE html>
<html lang="en" ng-app="axonBank">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <link href="favicon.ico" rel="icon">

  <title>Axon Bank</title>

  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/webjars/bootswatch-cosmo/css/bootstrap-theme.min.css" rel="stylesheet"/>
  <link href="/app/app.css" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Axon Bank</a>
    </div>
  </div>
</nav>

<div class="container" ng-controller="BankAccountsCtrl">
  <div class="col-lg-12">
    <table class="table table-hover table-condensed table-striped">
      <caption>
        Bank Accounts
        <div class="pull-right">
          <button class="btn btn-sm btn-success" ng-click="create()" type="submit">
            <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
            Create
          </button>
        </div>
      </caption>
      <thead>
      <tr>
        <th>#</th>
        <th>Balance</th>
        <th>Overdraft Limit</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="bankAccount in bankAccounts">
        <td>{{bankAccount.axonBankAccountId}}</td>
        <td>{{bankAccount.balance}}</td>
        <td>{{bankAccount.overdraftLimit}}</td>
        <td>
          <button class="btn btn-sm btn-primary" ng-click="deposit(bankAccount.axonBankAccountId)" type="submit">
            <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
            Deposit
          </button>
          <button class="btn btn-sm btn-success" ng-click="withdraw(bankAccount.axonBankAccountId)" type="submit">
            <span aria-hidden="true" class="glyphicon glyphicon-minus"></span>
            Withdraw
          </button>
          <button class="btn btn-sm btn-info" ng-click="transfer(bankAccount.axonBankAccountId)" type="submit">
            <span aria-hidden="true" class="glyphicon glyphicon-transfer"></span>
            Transfer
          </button>
          <button class="btn btn-sm btn-warning" ng-click="bankTransfers(bankAccount.axonBankAccountId)" type="submit">
            <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
            Bank Transfers
          </button>
        </td>
      </tr>
      <tr ng-if="bankAccounts.length == 0">
        <td colspan="4">There are no bank accounts</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="/webjars/angularjs/angular.min.js" type="text/javascript"></script>
<script src="/webjars/angular-ui-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
<script src="/webjars/angular-ui-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
<script src="/webjars/sockjs-client/sockjs.min.js" type="text/javascript"></script>
<script src="/webjars/stomp-websocket/lib/stomp.min.js" type="text/javascript"></script>
<script src="/webjars/ng-stomp/dist/ng-stomp.min.js" type="text/javascript"></script>

<script src="/app/app.js" type="text/javascript"></script>
<script src="/app/services.js" type="text/javascript"></script>
<script src="/app/controllers.js" type="text/javascript"></script>

</body>
</html>
